body {
    background-color: #f4f6f6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #007b5e;
    color: white;
    padding: 20px;
    text-align: center;
}
.centered-heading {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #007b5e;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content {
    justify-content: center; /* Horizontally center the content */
    align-items: center;     /* Vertically center the content */
    padding: 40px;
}

h2 {
    color: #007b5e;
}

.btn-primary {
    background-color: #007b5e;
    border-color: #007b5e;
}

.btn-warning {
    background-color: #ffca28;
    border-color: #ffca28;
}

.btn-info {
    background-color: #03a9f4;
    border-color: #03a9f4;
}

footer {
    margin-top: 30px;
    padding: 15px;
}
/* Profile photo styling */
.team-member-photo {
    border-radius: 50%;
    height: 170x;
    width: 170px;
    margin-right: 20px;
    border: 2px solid #006400; /* Green border */
}

.member-profile {
    margin-bottom: 20px;
}

.member-details {
    text-align: left;
    margin-top: 10px; /* Added margin for mobile view */
}

/* Flexbox adjustments for smaller screens */
@media (max-width: 767px) {
    .d-flex {
        flex-direction: column;
    }

    .team-member-photo {
        margin-right: 0; /* Remove margin for mobile */
        margin-bottom: 10px; /* Add bottom margin */
    }

    .member-details {
        text-align: center; /* Center text for mobile */
    }

    .btn {
        display: inline-block;
        margin-top: 10px;
    }
}
/* Insights Section Styling */
.insights-section {
    margin-top: 40px;
    text-align: center;
}

.insights-table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

.insights-table th, .insights-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.insights-table th {
    background-color: #4CAF50; /* Adjust color to suit the theme */
    color: white;
}

.insights-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.insights-table tr:hover {
    background-color: #ddd;
}
/* Chart container */
.chart-container {
    width: 100%;
    max-width: 600px; /* Ensures the chart doesn't get too wide on large screens */
    margin: 0 auto; /* Center the chart */
    padding: 15px;
}

/* Media queries for mobile view */
@media (max-width: 767px) {
    .chart-container {
        width: 100%; /* Full width on smaller screens */
        max-width: 100%; /* Ensure it stretches fully in mobile view */
    }
}
.centered-heading {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #007b5e;
    margin-top: 20px;
    margin-bottom: 20px;
}